<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/vendors/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="js/jsonEditor.js"></script>
		<script type="text/javascript" src="js/controllers/editorController.js"></script>
		<script type="text/javascript" src="js/services/typeFactory.js"></script>
		<script type="text/javascript" src="js/factories/types.js"></script>
		<script type="text/javascript" src="js/directives/jsontreeDirective.js"></script>
	</head>
	<body>
		<div id="idci-json-editor" ng-app="jsonEditor">
			<div ng-controller="editorController">
				<div>
					<ul class="idci-json-editor-tree" jsontree="" data="jsonData" type="object"></ul>
				</div>
				<hr/>
				<div>
					<textarea id="idci-json-editor-textarea" ng-model="jsonString"></textarea>
					<span class="idci-json-editor-error" ng-if="!wellFormed">JSON is not well-formed!</span>
				</div>
			</div>
		</div>
	</body>
</html>